body {
  display: flex;
  flex-direction: column;
  background-image: url(white-easter-car-with-pink-egg-copy-space.jpg);
  background-size: cover;
  background-position: center;
}

.feedback-container {
  max-width: 600px;
  background: rgba(255, 255, 255, 0.829);
  margin: 50px auto;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color:  rgb(196, 166, 49);
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

textarea {
  height: 120px;
}

.submit-btn {
  background-color: rgb(44, 43, 43);
  color: rgb(196, 166, 49);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: rgba(196, 167, 49, 0.618);
}
