.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(44, 43, 43);
  padding: 10px 20px;
}

.navbar .logo a {
  color: rgb(196, 166, 49);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: rgb(196, 166, 49);
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-links li a:hover {
  background: rgb(53, 53, 52);
  color: white;
  transition: 0.3s;
}
